../data/_MACOSX/
../data/selected-tiles/
../data/channel_infos.csv
../data/taglist.csv
../data/tile_names.csv
../data/selected_tiles_map.png
../data/selected-tiles.zip
../data/decoding.zip

../results/